/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundPrimary: #f5f5f5;
  --backgroundSecondary: #e0e0e0;
  --backgroundTetiary: #d0d0d0;
  --accentColor: #0d3b79;
  --buttonColor: #43b5f7;
  --textColor: #0f294c;

  --paddingSmall: 8px;
  --paddingMedium: 16px;
  --paddingLarge: 24px;
  --paddingLeftRight: 11%; /* New padding left and right */
  --paddingTopBottom: 59px; /* New padding top and bottom */
  --borderRadius: 8px;
}

* {
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0 !important;
}

@media screen and (max-width: 400px) {
  :root {
    --paddingLeftRight: 5%; /* New padding left and right */
    --paddingTopBottom: 20px; /* New padding top and bottom */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
